@import "./variables.scss";

.s-grid-wrapper {
  max-width: 980px;
  margin: 0 auto;
}

.s-title {
  font-size: 36px;
  font-family: $font-title;
  line-height: 1.2em;
}

.s-text {
  font-size: 24px;
  font-family: $font-text;
  line-height: 1.2em;
}

.s-text_s {
  font-size: 20px;
  font-family: $font-text;
  line-height: 1.2em;
}

.s-text_xs {
  font-size: 18px;
  font-family: $font-text;
  line-height: 1.2em;
}

.s-btn {
  font-size: 18px;
  font-family: $font-text;
  background-color: $theme-color-ws;
  border: 1px solid rgb(184, 178, 178);

  &:hover {
    cursor: pointer;
  }
  &:active {
    border: 1px solid #000;
  }
}
