@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600;700&family=Raleway:wght@400;500&display=swap");

@mixin grid($mw: 980px) {
  max-width: $mw;
  margin: 0 auto;
}
@mixin title($fs: 46px) {
  font-family: "Inter", sans-serif;
  font-size: $fs;
}
@mixin text($fs: 24px, $fw: 400) {
  font-family: "Raleway", sans-serif;
  font-weight: $fw;
  font-size: $fs;
}
@mixin btn($fs: 20px) {
  font-size: $fs;
  font-family: "Inter", sans-serif;
  background-color: #646f5e;
  color: $color-w;
  font-weight: 600;
  border: 1px solid rgb(62, 80, 53);
  transition: background-color, box-shadow 0.2s ease;
  &:hover {
    cursor: pointer;
    box-shadow: #000 0 0 4px;
    background-color: rgb(100, 111, 100);
    border: 1px solid #000;
  }
  &:active {
    background-color: #000;
  }
}
