@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk&family=Oswald&display=swap');

$theme-color-ws: #f8f8f8;
$theme-color-w: #fff;

$font-title: 'Oswald', sans-serif;
$font-text: 'Hanken Grotesk', sans-serif;

$padding: 8px;
$margin: 8px;

$radius: 4px;
